.formulario {

    width: 40%;
    margin: 0 auto;
    
}

.formGroup {

    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
} 

.formGroup:first-child {

    margin-top: 30px;
} 

.formGroup label {

    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #000;

} 

.formGroup input {

    border: 1px solid #EA1111;
    border-radius: 8px;
    background-color: #fff;
    height: 36px;
    padding: 0 10px;
    
} 

.formGroup select {

    border: 1px solid #EA1111;
    border-radius: 8px;
    background-color: #fff;
    height: 36px;
    padding: 0 10px;
    
} 

.formGroup textarea {

    border: 1px solid #EA1111;
    border-radius: 8px;
    background-color: #fff;
    
    padding: 10px;
    
} 

.caixaDeBotoes {

    width: 40%;
    margin: 30px auto;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.botaoCadastrar {

    width: 40%;    
    padding: 5px;
    margin: 0 20px 40px 0;
    background-color: #EA1111;
    color: #fff;

}

.botaoVoltar {

    width: 40%;    
    padding: 5px;
    margin: 0 0 40px 20px;
    background-color: #EA1111;
    color: #fff;

}

.botaoCadastrar a:link {

    color: #fff;
}