.container {

    width: 80%;
    margin: 0 auto;
    height: auto;
}

.tabela{
    
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}

.tabela tr:nth-child(even) {background: #EEE}
.tabela tr:nth-child(odd) {background: #FFF}

.tabela td {
 
    padding: 3px;    
    
}

.link{

    

    text-decoration: none;
    color: black;
}