.caixaDoTitulo {

    width: 80%;
    height: 12vh;
    background-color: #EA1111;
    margin: 30px 10%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.caixaDoTitulo h1 {

    text-align: center;
    color: white;
    
    font-size: 32px;
    
}

@media (max-width: 800px) {

    .caixaDoTitulo {

        width: 80%;
        height: 12vh;
        background-color: #EA1111;
        margin: 30px 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    .caixaDoTitulo h1 {

        text-align: center;
        color: white;
        
        font-size: 20px;
    }
    
}